* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-container{

}

/* top bar */

.top-bar {
  width: 100%;
  height: 80px;
  background-color: #FFC017;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-bottom: 1px solid black;
}

.top-bar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.top-bar div img {
  width: 180px;
}


.top-menu {
  font-size: .85rem;
  display:flex ;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
  margin-left: 400px;
  white-space: nowrap;
  cursor: pointer;
}

.top-menu ul:last-of-type {
  background-color: black;
  color: white;
  padding: 10px 15px 12px 15px;
  border-radius: 30px;
  cursor: pointer;
}

/* discover-section */

.discover-box {
  width: 100%;
  height: calc(650px - 80px);
  border-bottom: 1.5px solid black;
  background-color:  #FFC017;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.discover-box > div {
  margin-top: 80px;
  width: 1200px;
}

.text-container {
  max-width: 1200px;
}

.text-container h2 {
  font-size: 7rem;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
}

.text-container p {
  margin: 20px 0 60px 0;
  width: 420px;
  font-size: 1.5rem;
  line-height: 1.2;
}

.text-container span {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  padding: 8px 50px 10px 50px;
  background-color: black;
  border-radius: 30px;
  cursor: pointer;
}


/* trending */

.trending-section {
  margin-top: 40px ;
  display: flex;
  flex-direction: column;
}

.trending-section > div:first-of-type > span {
  margin-left: 12px;
}

.trending-section div:first-child{
  text-align: left;
}

.user:first-child span {
  margin-left:10px ;
  display: inline-block;
}

/* trending card */

.cards-container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  
}

.trend-card {
  display: flex;
  align-items: baseline;
  width: 400px;
  flex-grow: 1;
}

/* img user */

.user {
  display: flex;
  align-items: center;
}

.user:first-child{
  object-fit:cover;
  overflow: hidden;
}

.user img {
  height: 25px;
  width: 25px;
  border-radius: 50%;

}
/* ------------- */

.trend-card > span:first-of-type {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(200,200,200);
  height: 150px;
  width: 60px;
}

.trend-card > div {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  gap: 7px;
  width: 350px;
}

.user span {
  font-size: .8rem;
  font-weight: 600;
}

.trend-card div:not(.user) > span:nth-of-type(1) {
  font-size: 1rem;
  font-weight: 800;
  color: rgb(80, 80, 80);
}

.trend-card div:not(.user) > span:nth-of-type(2) {
  font-size: .8rem;
  color: rgba(80,80,80);
  cursor: pointer;
}


hr {
  border-top: 1px solid rgb(201, 201, 201);
  border-bottom: 0;
  height: 1px; 
  width: 100%;
}

/* <!-- articles main ----------------------> */

.second-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  
  width: 1200px ;
}

.articles-section {
  margin-top: 50px;
}

.article-card {
  width: 750px;
  display: flex;
  margin-bottom: 70px;
  
  
}

.article-card > div {
  display: flex;
  flex-direction: column;
}

.article-card > div > span:first-of-type {
  font-size: 1.5rem;
  color: rgb(55, 55, 55);
  font-weight: 700;
  margin: 8px 0 5px 0;
  cursor: pointer;
}

.article-card > div > span:last-of-type {
  color: rgb(155, 155, 155);
  font-size: 1.1rem;
  width: 500px;
  height: 50px;
  
  white-space:wrap;
  overflow:hidden;
  text-overflow:ellipsis;
}


.article-card > div > div:nth-of-type(2) > span:last-of-type {
  font-size: .8rem;
  color: rgb(155, 155, 155);
}

.article-card span > span{
  background-color: rgb(235, 235, 235);
  font-size: .8rem;
  color: rgb(s155, 155, 155);
  padding: 3px 7px;
  border-radius: 10px;
}


.article-card > div > div:nth-of-type(2) > i {
  font-size: 1.3rem;
  cursor: pointer;
}


.article-card > div > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.article-card > div:nth-child(2) img {
  margin-left: 30px;
  height: 165px;
  cursor: pointer;
}



/* discover */

.discover {
  width: 350px;
  position: sticky;
  top: 100px;
}

.discover > span {
  font-size: 1.1rem;
  font-weight: 1000;
}

.discover-categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items:center;
}

.discover-categories div {
  padding: 2px 10px;
  margin: 5px;
  border: 1.5px solid gainsboro;
  cursor: pointer;
}



.discover-categories div span, .help span{
  color: rgb(155, 155, 155);
  font-size: .85rem;
}


/* help-section */

.help {
  border-top: 1px solid gainsboro;
  padding-top: 25px;
  margin-top: 25px;
}

.help span {
  margin: 10px ;
  padding-top: 5px;
  cursor: pointer;
}